<!DOCTYPE html>
<html>
<head>
<title> Whatever </title>
<link href="/css/CssMini2.css" type="text/css" rel="stylesheet">
<script src="/js/vendor/jquery-1.11.1.min.js"></script>
</head>
<body>
<% for(var req in requirements) {%>

<% var r = requirements[req]%>
<% var reqType = [];%>
<% var cleaningReq = [];%>
<% var foodType = [];%>
<% var mealType= [];%>
<% var babyReq = [];%>
<% var elderlyReq = [];%>

<% if(r.requirementType & 1) {%>
<% reqType.push("Cleaner");%>
<% r.cleaningService.bathroomCleaning?cleaningReq.push("Bathroom Cleaning"):undefined;%>
<% r.cleaningService.clothesIroning?cleaningReq.push("Clothes Ironing"):undefined;%>
<% r.cleaningService.clothesWashingHand?cleaningReq.push("Clothes Washing (With Washing Machine)"):undefined;%>
<% r.cleaningService.clothesWashingMachine?cleaningReq.push("Clothes Washing (Without Washing Machine)"):undefined;%>
<% r.cleaningService.dusting?cleaningReq.push("Dusting"):undefined;%>
<% r.cleaningService.floorCleaning?cleaningReq.push("Floor Cleaning"):undefined;%>
<% r.cleaningService.groceryShopping?cleaningReq.push("Grocery Shopping"):undefined;%>
<% r.cleaningService.utensilCleaning?cleaningReq.push("Utensil Cleaning"):undefined;%>
<% }%>

<% if(r.requirementType & 2) {%> 
<% reqType.push("Cook");%>
<% r.cookingService.veg?foodType.push("Veg"):undefined;%>
<% r.cookingService.nonVeg?foodType.push("Non Veg"):undefined;%>
<% r.cookingService.breakFast?mealType.push("Breakfast"):undefined;%>
<% r.cookingService.lunch?mealType.push("Lunch"):undefined;%>
<% r.cookingService.dinner?mealType.push("Dinner"):undefined;%>
<% }%>

<% if(r.requirementType & 4) {%>
<% reqType.push("Baby Sitter");%>
<% r.babySittingService.babyBathing?babyReq.push("Baby Bathing"):undefined;%>
<% r.babySittingService.babyMassage?babyReq.push("Baby Massage"):undefined;%>
<% r.babySittingService.changingDiaper?babyReq.push("Changing Diaper"):undefined;%>
<% r.babySittingService.cleaningUtensilsOfBaby?babyReq.push("Cleaning Utensils of Baby"):undefined;%>
<% r.babySittingService.feeding?babyReq.push("Feeding"):undefined;%>
<% r.babySittingService.motherMassage?babyReq.push("Mother Massage"):undefined;%>
<% r.babySittingService.preparingBabyFood?babyReq.push("Preparing Baby Food"):undefined;%>
<% r.babySittingService.preparingBabyForSleep?babyReq.push("Preparing Baby for sleep"):undefined;%>
<% r.babySittingService.takingBabyForAWalk?babyReq.push("Taking Baby for a Walk"):undefined;%>
<% r.babySittingService.washingBabyClothes?babyReq.push("Washing Baby Clothes"):undefined;%>
<% }%>

<% if(r.requirementType & 8) {%> 
<% reqType.push("Elderly Care");%>
<% r.elderlyCareService.bathingSponging?elderlyReq.push("Bathing & Sponging"):undefined%>
<% r.elderlyCareService.cleaningUtensilsOfElderly?elderlyReq.push("Cleaning Utensils of Elderly"):undefined%>
<% r.elderlyCareService.cookingForPatient?elderlyReq.push("Cooking for Patient"):undefined%>
<% r.elderlyCareService.diaperChange?elderlyReq.push("Diaper Change"):undefined%>
<% r.elderlyCareService.feeding?elderlyReq.push("Feeding"):undefined%>
<% r.elderlyCareService.givingMedicines?elderlyReq.push("Giving Medicines"):undefined%>
<% r.elderlyCareService.injection?elderlyReq.push("Injection"):undefined%>
<% r.elderlyCareService.massage?elderlyReq.push("Massage"):undefined%>
<% }%>

<div class="dash-block">
<big class="headingtext flot-left">
Requirement posted for <%=reqType.join()%> | RequirementID - <%=r._id%>
<span class="datediv">
<%=r.dateAdded.toDateString()%></span></big><a id="btn_DeleteRequirement" href="#" rel="563963" class="btn_DeleteRequirement lnk-auto flot-right">
<img src="/images/close_icon.png">
</a><a href="#" rel="#" class="btn_RequirementDetails lnk-auto flot-right">View Requirement</a>
<a href="/SearchDetails.aspx?RequirementID=563963" class="lnk-auto flot-right"><i>
<img src="/images/search-icon.png"></i> Shortlist
more maids</a>
<div class="shortlisttbl">
<div id="EmptyShotrlisted" class="shortlistnote">
<p>
You have not shortlisted any maid yet <a href="/SearchDetails.aspx?RequirementID=563963" class="btn_auto">Shortlist Now</a></p>
</div>
<input type="hidden" name="ctl00$ContentPlaceHolder1$rpt_Requirements$ctl00$hf_RequirementID" id="hf_RequirementID" value="<%=req._id%>">
</div>
<div class="RequirementDetails popback" style="display: none">
<div class="search_info">
<div class="searchinfo_body">
<div class="requirmentdetailsdiv">

<a href="#" class="closeThis cross">
	<img src="../images/delete-icon.png" alt="delete"></a>
<table style="font-family:helvetica;font-size:small"cellspacing="2" cellpadding="2">
	<tbody>
		<tr>
			<td colspan="3">
				<span><b>Requirement Type</b></span> <b>
					<%=reqType.join()%></b>
			</td>
		</tr>
		<tr>
			<%if(r.requirementType & 1) {%>
			<td id="tr_Members">
				<span>Number of members</span> <b>
					<%=r.cleaningService.numberOfPeople%></b>
			</td>
			<%}%>

			<%if((!r.requirementType & 1) && (r.requirementType & 2)) {%>
			<td id="tr_Members">
				<span>Number of members</span> <b>
					<%=r.cookingService.numberOfPeople%></b>
			</td>
			<%}%>

			<%if(r.requirementType & 1) {%>
			<td id="tr_RoomType">
				<span>Size of house</span> <b>
					<%=r.cleaningService.houseSize%> BHK</b>
			</td>
			<%}%>

			<td id="tr_Salary">
				<span>Approx salary</span> <b>
					<%=r.approxSalary%></b>
			</td>

		</tr>
		<tr>
			<td id="tr_Locality">
				<span>Location</span> <b>
					<%=r.interviewAddress%></b>
			</td>

			<td id="tr_Religion">
				<span>Religion preference</span> <b>
					<%=r.religionPreference%></b>
			</td>

			<td id="tr_NoofHours">
				<span>Number of hours</span> <b>
					<%=r.numberOfHoursDaily%></b>
			</td>

		</tr>
		<tr>
			<td id="tr_Gender">
				<span>Gender</span> <b>
					<%=r.genderPreference%></b>
			</td>

		</tr>
		<tr>
			<td id="tr_Details" colspan="2" style="text-align: left">
				<span>Details of work</span> <b>
					<%=r.comments%></b>
			</td>


		</tr>
		<%if(r.requirementType & 1) {%>
		<tr id="tr_ServiceDetails">
		<td colspan="3">
				<big>Cleaning Service details</big>
				<ul class="requirment">
					<li style="width: 100%"><%=cleaningReq.join()%></li>
				</ul>
			</td>
		</tr>
		<%}%>

		<%if(r.requirementType & 2) {%>
		<tr id="tr_FoodType">
		<td colspan="3">
				<big>Cooking</big>
				<ul class="requirment table">
					<li><span>Food type :</span><%=foodType.join()%></li>
					<li><span>Meal type :</span><%=mealType.join()%></li>
					<li><span>Food Preferences :</span>
						<%=r.cookingService.foodPreferences%></li>
				</ul>
			</td>
		</tr>
		<%}%>

		<%if(r.requirementType & 4) {%>
		<tr id="tr_BabyAge">
		<td colspan="3">
				<big>Baby Sitting</big>
				<ul class="requirment table">
					<li><span>Baby Age</span> <b><%=r.babySittingService.babyAge%> Months</b></li>
					<li><span>Baby Gender</span> <b><%=r.babySittingService.babyGender%></b></li>
				</ul>
				<br>
				<ul class="requirment table">
					<li><span><b>Baby Service details</b></span>
						<br>
						<%=babyReq.join()%></li>
				</ul>
			</td>
		</tr>
		<%}%>

		<%if(r.requirementType & 4) {%>
		<tr>
			<td id="tr_ElderlyAge" colspan="3">
				<big>Elderly care</big>
				<ul class="requirment table">
					<li><span>Elderly Age</span> <b>
						<%=r.elderlyCareService.elderAge%> Years</b></li>
					<li><span>Elderly Gender</span> <b>
						<%=r.elderlyCareService.elderGender%></b></li>
				</ul>
				<br>
				<ul class="requirment table">
					<li><span><b>Elderly care details</b></span><br>
						<%=elderlyReq.join()%></li>
				</ul>
			</td>

		</tr>
		<%}%>
		<tr>
			<td colspan="3">
				<a href="/requirements/search/<%=r.userId%>" class="btn_auto flot-right" style="display:block">
					Edit requirement</a>
			</td>
		</tr>
	</tbody>
</table>
<br>
<br>
</div>
</div>
</div>
</div>
</div>
<%}%>
</body>
<script src="/js/dashboard.js" type="text/javascript"></script>
<script>
	$('.btn_DeleteRequirement').click(function() {
		$(this).parents('.dash-block').fadeOut();
		return false;
	});
</script>
</html>
